{% extends 'base.html' %}
{% block title %} Мои подписки {% endblock %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'pages/myFollow.css' %}">
{% endblock %}
{% block header %}
  {% include 'header.html' with follow=True %}
{% endblock %}
{% block content %}
{% csrf_token %}
  <div class="main__header">
    <h1 class="main__title">Мои подписки</h1>
  </div>
    <div class="card-list">
      {% for user in page %}
      <div class="card-user" data-id="{{ user.following.pk }}">
            <div class="card-user__header">
                <h2 class="card-user__title">{{ user.following.username }}</h2>
            </div>
            <div class="card-user__body">
              <ul class="card-user__items">
                {% for recipe in user.following.author_recipes.all|slice:'3' %}
                  <li class="card-user__item">
                    <div class="recipe">
                        <img src="{{ recipe.image.url }}" alt="какой-то-текст" class="recipe__image">
                        <h3 class="recipe__title">{{ recipe.title }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                    </div>
                  </li>
                {% endfor %}
                {% if user.following.author_recipes.count > 3 %}
                  <li class="card-user__item">
                      <a href="{% url 'profile' user.following.username %}" class="card-user__link link">Еще {{ user.following.author_recipes.count|add:'-3' }} рецептов...</a>
                  </li>
                {% endif %}
              </ul>
            </div>
            <div class="card-user__footer">
                <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
            </div>
      </div>
      {% endfor %}
    </div>
    {% if page.has_other_pages %}
      {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}
  {% block script %}
    <script src="{% static 'js/components/MainCards.js' %}"></script>
    <script src="{% static 'js/components/MyFollow.js' %}"></script>
    <script src="{% static 'js/components/Subscribe.js' %}"></script>

<!--    <script src="{% static 'js/components/Purchpurachases.js' %}"></script>-->
<!--    <script src="{% static 'js/components/Favorites.js' %}"></script>-->
<!--    <script src="{% static 'js/components/SingleCard.js' %}"></script>-->

<!--    <script src="{% static 'js/components/CardList.js' %}"></script>-->
    <script src="{% static 'js/components/Header.js' %}"></script>

    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'myFollow.js' %}"></script>
<!--    <script src="{% static 'indexAuth.js' %}"></script>-->
  {% endblock %}
{% endblock %}
