{% extends 'base.html' %}
{% block title %} Список покупок {% endblock %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'pages/shopList.css' %}">
{% endblock %}
{% block header %}
  {% include 'header.html' with shopping_list=True recipe=recipe%}
{% endblock %}
{% block content %}
  <div class="main__header">
    <h1 class="main__title">Список покупок</h1>
  </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
          {% for recipe in recipes %}
            <li class="shopping-list__item" data-id="111">
                <div class="recipe recipe_reverse">
                    <img src="{{ recipe.image.url }}" alt="какой-то текст" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                </div>
                <a href="{% url 'shopping_list_delete_recipe' recipe.pk %}" class="shopping-list__button link">Удалить</a>
            </li>
          {% endfor %}
        </ul>
        {% if recipes %}
          <a class="button button_style_blue" href="{% url 'download' %}">Скачать список</a>
        {% endif %}
    </div>
{% endblock %}
