{% extends 'base.html' %}
{% block title %} Восстановление пароля {% endblock %}
{% load add_class %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}
{% block header %}
  {% include 'header.html' %}
{% endblock %}
{% block content %}
  <div class="custom-center-block">
    <h1 class="custom-text-block">Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля.</h1>
    <div class="custom-button-block">
      <a href="{% url 'index' %}"><button class="button button_style_blue">Перейти на главную</button></a>
    </div>
  </div>
{% endblock %}
